{% extends 'base.html' %}

{% block title %}Carrito Vacío - Dulce Cayena{% endblock %}

{% block content %}
<section class="container text-center my-5">

  <h2 class="fw-bold mb-4" style="color:#5a2a00;">🛒 Tu carrito está vacío</h2>

  <p class="text-muted mb-4 fs-5">
    Parece que aún no has agregado ningún producto.<br>
    ¡Nuestros postres te están esperando!
  </p>

  <a href="{% url 'tienda:tienda' %}" class="btn btn-warning btn-lg fw-semibold">
    🧁 Ir a la tienda
  </a>

</section>
{% endblock %}
